.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3602d4;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}