.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3602d4;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}