.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 5px;
    gap: 10px;
}

.label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}