.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 5px;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #3602d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}