.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3602d4;
}

.link {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

