.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 300px;
    border: 2px solid #3602d4;
    border-radius: 5px;
    padding: 10px;
    background-color: #f0f0f0;
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #3602d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    align-items: center;
}
