.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #3602d4;
  background-color: #b9babb;
  box-sizing: border-box;
  border-radius: 5px;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}