.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b9babb;
  border: 1px solid #b9babb;
  border-radius: 5px;
  width: 400px;
  height: 800px;
  font-size: 20px;
  gap: 20px;
  padding: 20px;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}