.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}