.userMenu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
   
}

.button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #3602d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.userName {
    margin-right: 10px;
    font-weight: bold;
}

.userMenuButton:hover {
    background-color: #3602d4;
    color: white;
}